/* Large screens (4K and up) */
#banner h2 {
  font-size: 8em;
}

@media screen and (width <= 2400px) {
  #banner h2 {
    font-size: 6em;
  }
}

@media screen and (width <= 1680px) {
  #banner h2 {
    font-size: 5em;
  }
}

@media screen and (width <= 1366px) {
  #banner h2 {
    font-size: 4em;
  }
}

@media screen and (width <= 980px) {
  #banner h2 {
    font-size: 3em;
  }
}

@media screen and (width <= 736px) {
  #banner h2 {
    font-size: 2em;
  }
}

@media screen and (width <= 480px) {
  #banner h2 {
    font-size: 1.5em;
  }
}

#banner {
  background-repeat: no-repeat;
  height: 557px;
}
