.rl-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

@keyframes slide-in-from-left {
  0% {
    opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
    left: -2em;
  }

  100% {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }
}

.bubble {
  animation: 1s ease-out 0s 1 slide-in-from-left;
  position: relative;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.5em 3em;

  /* Glassmorphism */
  background: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255 255 255 / 20%);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  width: auto;
  display: inline-block;
  border-radius: 16px;
  text-align: center;
}

.bubble h2 {
  margin: 0;
  color: #fff;
  text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  font-weight: 700;
}

/* Large screens (4K and up) */
#banner h2 {
  font-size: 8em;
}

@media screen and (width <= 2400px) {
  #banner h2 {
    font-size: 6em;
  }
}

@media screen and (width <= 1680px) {
  #banner h2 {
    font-size: 5em;
  }
}

@media screen and (width <= 1366px) {
  #banner h2 {
    font-size: 4em;
  }
}

@media screen and (width <= 980px) {
  #banner h2 {
    font-size: 3em;
  }
}

@media screen and (width <= 736px) {
  .bubble {
    left: 2.5em;
  }

  #banner h2 {
    font-size: 2em;
  }

  .checklist {
    left: 3em;
  }
}

@media screen and (width <= 480px) {
  .bubble {
    left: 1em;
    padding: 1em 1.5em;
  }

  #banner h2 {
    font-size: 1.5em;
  }
}

.social {
  text-align: center;
}

.social-img-left {
  right: 1em;
}

.social-img-right {
  left: 1em;
}

@media screen and (width >= 980px) {
  .social-img {
    position: relative;
    height: 128px;
    width: 128px;
    bottom: 1em;
  }
}

@media screen and (width <= 980px) {
  .social-img {
    position: relative;
    height: 96px;
    width: 96px;
    bottom: 1em;
  }
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.vertically-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.split > *:nth-child(odd) {
  padding-left: 3em;
}

.more-vertical-space {
  line-height: 50px;
}

#banner {
  background-repeat: no-repeat;
  height: 557px;
}
